<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}David Raymond and Wycliffe Bible Translators{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="wycliffe.css" />
 </head>
 <body>
  <table class="table-center"><tr><td>
   <h2 class="center">David Raymond and Wycliffe Bible Translators</h2>
   <p class="center">A personal website run by David</p>
  </td><td>
   <a href="http://www.wycliffe.org.uk/"><img src="wycliffe.png" alt="Wycliffe" width="167" border="0" class="toplogo" /></a>
  </td></tr></table>
  <div class="main">
{{ content }}
   <ul>
    <li><a href="/wycliffe">Home</a></li>
    <li><a href="/wycliffe/the-need">The need, and Wycliffe's role in meeting that need</a></li>
    <li><a href="/wycliffe/where-do-computers-fit-in">Where do computers fit in?</a></li>
    <li><a href="/wycliffe/davids-involvement">David's involvement</a></li>
    <li><a href="/wycliffe/message-from-the-director">A message from the Director of Wycliffe</a></li>
    <li><a href="/wycliffe/partnering">Partnering with David &amp; Elizabeth</a></li>
    <li><a href="/wycliffe/contact">Contact information</a></li>
   </ul>
  </div>
 </body>
</html>
